<div>
    <h2>Fb Pages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="fb-page.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Fb Page
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fbName"><span>Fb Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fbID"><span>Fb ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="accessToken"><span>Access Token</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category"><span>Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span>Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isPublished"><span>Is Published</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="link"><span>Link</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userName"><span>User Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="createdAt"><span>Created At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="updatedAt"><span>Updated At</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="coverId"><span>Cover</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fbPage in vm.fbPages track by fbPage.id">
                    <td><a ui-sref="fb-page-detail({id:fbPage.id})">{{fbPage.id}}</a></td>
                    <td>{{fbPage.fbName}}</td>
                    <td>{{fbPage.fbID}}</td>
                    <td>{{fbPage.accessToken}}</td>
                    <td>{{fbPage.category}}</td>
                    <td>{{fbPage.description}}</td>
                    <td>{{fbPage.isPublished}}</td>
                    <td>{{fbPage.link}}</td>
                    <td>{{fbPage.userName}}</td>
                        <td>{{fbPage.createdAt | date:'mediumDate'}}</td>
                        <td>{{fbPage.updatedAt | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="cover-detail({id:fbPage.coverId})">{{fbPage.coverId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="fb-page-detail({id:fbPage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fb-page.edit({id:fbPage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="fb-page.delete({id:fbPage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
